---
layout: page
pagination: 
  enabled: true
---

<div class="jumbotron">
    <h1 class="display-4">Hi there!</h1>
    <p class="lead">I'm AudioAnimatronic1874, an sf fan and ET researcher from Jakarta.</p>
    <p>Learn more <a href="about">here</a>.</p>
</div>
<div class="alert alert-info" role="alert"><b>Pemberitahuan:</b> Karya literasi fiksi saya di SMA 68, bisa diakses <a class="alert-link" href="/literasi">disini</a>.</div>
<hr>
<div class="row">
    <div class="col-md-9">
        <!--{%- if site.posts.size > 0 -%}
            {%- for post in site.posts -%}
                {%- assign date_format = site.minima.date_format | default: "%-d %b %Y" -%}
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <h3>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                </h3>
                {%- if site.show_excerpts -%}
                    {{ post.excerpt }}
                {%- endif -%}
            {%- endfor -%}
        {%- endif -%}-->

        {% for post in paginator.posts %}
            {%- assign date_format = site.minima.date_format | default: "%-d %b %Y" -%}
            <span class="post-meta text-muted"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            {%- if site.show_excerpts -%}
                {{ post.excerpt }}
            {%- endif -%}
        {% endfor %}
  
        <!-- 
            Showing buttons to move to the next and to the previous list of posts (pager buttons).
        -->
        {% if paginator.total_pages > 1 %}
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-outline-primary">&larr;</a>
            {% endif %}
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-outline-dark">&rarr;</a>
            {% endif %}
        {% endif %}
    </div>
    <div class="col-md-3">
        {% include widgets.html %} 
    </div>
</div>