<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #17a2b8;">
    <div class="container">
        <a class="navbar-brand" href="/">AudioAnimatronic1874</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="storiesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Fiction
                    </a>
                    <div class="dropdown-menu" aria-labelledby="storiesDropdown">
                        <a class="dropdown-item" href="/stories">Stories</a>
                        <a class="dropdown-item" href="/literasi" >Literasi sekolah (id)</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item disabled" href="#">soon: book anthologies?</a>
                    </div>
                </li>
                
                <li class="nav-item"><a class="nav-link" href="/chouverse">Chouverse</a></li>
            </ul>
            <form action="https://duckduckgo.com/?q=site:aa1874.github.io+&kp=-1&kl=us-en" class="form-inline my-2 my-lg-0 float-right">
                <input type="search" name="text" id="qsearch" class="form-control mr-sm-2" placeholder="Search site using DuckDuckGo">
                <input type="hidden" name="q" id="searchresult">
            </form>
        </div>
    </div>
</nav>