// custom vars and scss goes before the @import

@import url('https://fonts.googleapis.com/css?family=Electrolize|Saira+Semi+Condensed:400,700&subset=latin-ext');

$native-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif: "Saira Semi Condensed", $native-font-stack;
$headings-font-family: "Electrolize", $native-font-stack;

$enable-responsive-font-sizes: true;

$black: #111;
$white: #fff;
$cyan:  #00f7ff;
$gray-900: #212529;

$body-color: $white;
$body-bg: $gray-900;
$link-color: $cyan;
$border-color: $cyan;

.chouverse-content {
    background-color: $black;
    color: $white;
}

@import "bootstrap";