<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body>
        {% include header.html %}
        <section class="chouverse-content" style="padding-top: 10px; padding-bottom: 5px; margin-bottom: 10px; ">
            <div class="container">
                <ul class="nav chouverse-nav">
                    <li class="nav-item"><a href="/chouverse" class="nav-link">Chouverse</a></li>
                    <li class="nav-item"><a href="" class="nav-link"></a></li>
                    <li class="nav-item"><a href="" class="nav-link"></a></li>
                </ul>
                        
                {{ content }}
            </div>
        </section>
        {% include footer.html %}
        {% include foot.html %}
    </body>
</html>