---
layout: default
---

<a href="/blog" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Return to Posts index</a>
<article itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <p><small>
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = "%-d %b %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.categories -%}
        //&nbsp;Posted in:&nbsp;
        {%- for category in page.categories -%}
         {{ category }}&nbsp;
        {%- endfor -%}
      {%- endif -%}
      {%- if page.tags -%}
        //&nbsp;
        {%- for tag in page.tags -%}
         #{{ tag }}&nbsp;
        {%- endfor -%}
      {%- endif -%}
    </small></p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
